<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">

<listeners>
<listener class-name="com.jayanti.Listeners"/>
</listeners>
  <test thread-count="5" name="login">
    
    <classes>
   
      <class name="com.jayanti.TC_Browser"/>
      
      </classes>
      </test>
      
       <test name="text diplayed">
      <classes>
     
      <class name="com.jayanti.NavigationBar"/>
     
    </classes>
    </test>
    <test name="Message Displayed">
    <classes>
     <class name="com.jayanti.Title_TC"/>
     </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
